.nav {
  margin-top: -2px;
}

.header {
  display: flex;
  height: 75px;
  margin-top: 25px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  grid-column: 2/4;
}

.homeLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--text-color);
}

.navIcon {
  height: 50px;
  width: 50px;
  transform: rotate(0deg);
  transition: none;
}

.navIcon:hover {
  transform: rotate(360deg);
  transition: transform 1s cubic-bezier(0.42, 0, 0.58, 1);
}

.navList {
  display: flex;
  list-style-type: none;
  padding-left: 0;
}

.navItem {
  margin-left: 2rem;
  font-weight: 300;
  font-size: 20px;
}

.navItem:first-of-type {
  margin-left: 0;
}

.navLink {
  text-decoration: none;
}

.homeText {
  font-size: 20px;
  font-weight: 700;
  margin: 0 15px;
}
