.home {
  grid-column: 2/4;
}

.title {
  font-size: 60px;
  margin-bottom: 0.3em;
  font-weight: 700;
}

.description {
  font-size: 18px;
  line-height: 1.5;
}

.socialList {
  display: flex;
  padding: 0;
}

.linkedIn {
  background-color: #007bb6;
}

.socialLink {
  list-style: none;
  margin-left: 15px;
}

.socialLink:first-of-type {
  margin: 0;
}

.socialLink a {
  display: flex;
  align-items: center;
  color: #fff;
}

.socialImage {
  width: 25px;
  height: auto;
}
