.home {
  grid-column: 2/4;
}

.title {
  font-size: 60px;
  margin-bottom: 20px;
  font-weight: 700;
}

.description {
  font-size: 24px;
  line-height: 1.5;
}

.socialItem {
  list-style: none;
  margin-right: 15px;
  border-radius: 3px;
}

.linkedin {
  composes: socialItem;
  background-color: #2767b2;
}

.linkedin a {
  color: #fff;
}

.github {
  composes: socialItem;
  background-color: #fff;
}

.github a {
  color: #000;
}

.socialList {
  margin-top: 40px;
  display: flex;
  padding: 0;
}

.socialLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 8px 14px 6px 0;
}

.socialImage {
  width: 25px;
  height: auto;
  margin-right: 15px;
  margin-left: 8px;
}
