:root {
  --text-color: #ddd1c7;
  --background-color: #19212c;
  --highlight-color: #3993dd;
}

html {
  font-family: "Inter", sans-serif;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin-bottom: 50px;
  font-size: 18px;
}

a {
  color: var(--highlight-color);
}
